/* reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
    background: white;
    background-size: auto 100vh;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    font-size: 12px;
 }

  /* se tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 375px) {
    body {
      font-size: 14px;
    }
}

/* breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint*/
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

  header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: rgb(46, 44, 44);
    font-family: calibri;
    position: fixed;
    width: 100vw;
    top: 0em;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 15px 20px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  a:hover {
    text-decoration: underline;
  }
  
  .site-title {
    color: black;
    text-align: center;
  }

  .site-title {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
  }
  
  .site-subtitle {
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 1em; /*espaçamento altura*/
  }

  p {
    text-align: center;
  }

  .portfolio {
    padding: 2em;
  }

  .portfolio h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
    text-align: center;
  }

@media (min-width: 400px) {
  .portfolio .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 300px 300px;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .portfolio .grid {
    gap: 1em;
    grid-template-columns: 300px 300px 300px;
    align-content: center;
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1200px) {
  .img-portfolio {
    height: 10em;
    width: 100%;
}
}
